.register__input{
    background: #000000;
    color: #ffffff;
    max-width: 100%;
    border: none;
    border-bottom: #ffffff solid 1px;
    margin-bottom: 30px;
    display: block;
    padding: 0;
    font-size: 14px;
    line-height: 1.21em;
    font-weight: 400;
}